<div class="panel panel-default">
    <div class="panel-heading">
        <strong ng-if="!vm.params.id">新增内容</strong>
        <strong ng-if="vm.params.id">编辑内容</strong>
    </div>
    <div class="panel-body detail-padding-5">
        <form class="form-horizontal" name="adviertisementdetail">
            <div class="form-group">
                <label class="col-md-1 col-sm-2 control-label">内容</label>
                <div class="col-md-11 col-sm-10">
                    <input class="form-control" ng-model="vm.params.content" required>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-1 col-sm-2 control-label">频道</label>
                <div class="col-md-11 col-sm-10">
                    <select class="form-control" ng-model="vm.params.lotteryType" required>
                        <option value="-1">全频道</option>
                        <option ng-value="lottery.typeCode" ng-selected="vm.params.lotteryType==lottery.typeCode" ng-repeat="lottery in vm.lotteryList">{{lottery.name}}频道</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-11 col-sm-10 col-lg-offset-1 col-md-offset-1 col-sm-offset-2">
                    <div class="col-md-6">
                        <button class="btn btn-default margin-right-10" ng-click="vm.adviertisementAdd(2,adviertisementdetail.$invalid)">立即上线</button>
                        <button class="btn btn-default margin-right-10" ng-click="vm.adviertisementAdd(1,adviertisementdetail.$invalid)">存为草稿</button>
                        <button class="btn btn-default" ui-sref="field.adviertisementSet">取消</button>
                    </div>
                    <div class="col-md-4">
                        <label class="control-label text-red" ng-if="vm.error">请补全信息</label>
                    </div>

                </div>
            </div>
        </form>


    </div>
</div>