<div class="panel panel-default">
    <div class="panel-body">
        <form class="form-horizontal">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label col-md-4">渠道名</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" ng-model="vm.searchParams.channelName">

                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label col-md-4">创建者</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" ng-model="vm.searchParams.createByName">
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label col-md-4">渠道ID</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" ng-model="vm.searchParams.channelId">

                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label col-md-4">创建时间</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" size="20" bs-datepicker
                                   data-date-format="yyyy-MM-dd" data-date-type="number" autoclose="true"
                                   data-max-date="{{vm.searchParams.creatAtEnd||nowDate}}"
                                   ng-model="vm.searchParams.creatAtStart">
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label col-md-4">至</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" size="20" bs-datepicker
                                   data-date-format="yyyy-MM-dd" data-date-type="number"
                                   ng-model="vm.searchParams.creatAtEnd" data-max-date="{{nowDate}}"
                                   autoclose="true" data-min-date="{{vm.searchParams.creatAtStart}}">
                        </div>

                    </div>

                </div>


                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label col-md-4">平台</label>
                        <div class="col-md-8">
                            <select class="form-control" style="min-width: 160px" ng-model="vm.searchParams.platform">
                                <option value="" selected>全部</option>
                                <option value="2">indroid</option>
                                <option value="3">ios</option>
                                <option value="4">H5</option>
                            </select>
                        </div>

                    </div>
                </div>



            </div>

            <div class="row">
                <div class="col-md-4 col-md-offset-8 text-right">
                    <search params="vm.searchParams"></search>
                </div>
            </div>

        </form>
    </div>
</div>


<div class="panel panel-default">
    <div class="panel-heading white">
        <strong>渠道列表</strong>
        <button class="btn btn-primary btn-xs margin-right-10 pull-right" ui-sref="field.channelEdit">+新增</button>
    </div>
    <div class="panel-body">
        <table class="table add-table-border">
            <thead>
            <tr class="grey">
                <th>序号</th>
                <th>渠道名称</th>
                <th>渠道ID</th>
                <th>平台</th>
                <th>创建者</th>
                <th>创建时间</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="li in vm.list">
                <td>{{$index+1}}</td>
                <td>{{li.channelName}}</td>
                <td>{{li.channelNo}}</td>
                <td>{{li.platform|channelPlatform}}</td>
                <td>{{li.createByName}}</td>
                <td> {{li.createAt|date:'yyyy-MM-dd HH:mm'}}</td>
                <td>
                    <button class="btn btn-default btn-xs" ui-sref="field.channelEdit({id:li.id})">编辑</button>
                </td>
            </tr>

            </tbody>
        </table>
        <pagination ng-if="vm.totalPage" total="{{vm.totalPage}}"></pagination>

    </div>
</div>


