<div class="panel panel-default">
    <div class="panel-heading">
        <strong ng-if="!vm.id">新增奖品</strong>
        <strong ng-if="vm.id">编辑奖品</strong>

    </div>
    <div class="panel-body detail-padding-15">
        <form class="form-horizontal" name="luckdraw">
            <div class="form-group">
                <label class="col-md-2 control-label">发布状态</label>
                <div class="col-md-10">
                    <select class="form-control" ng-model="vm.params.status" required>
                        <option value="1" ng-selected="vm.params.status==1">草稿&emsp;&emsp;&emsp;&emsp;</option>
                        <option value="2" ng-selected="vm.params.status==2" selected>上线&emsp;&emsp;&emsp;&emsp;</option>
                    </select>
                </div>
            </div>



            <div class="form-group">
                <label class="col-md-2 control-label">奖品</label>
                <div class="col-md-10">
                    <select class="form-control" ng-model="vm.params.prize" ng-change="vm.params.money=''" required>
                        <option ng-repeat="red in vm.redList" ng-value="red.id" ng-selected="vm.params.prize==red.id">{{red.name}}</option>
                        <option value="-2" ng-selected="vm.params.prize==-2">彩金</option>
                        <option value="-1" ng-selected="vm.params.prize==-1">体验金</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label">名称</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" ng-model="vm.params.prizeName" required>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label" ng-required="vm.params.prize==-2||vm.params.prize==-1">金额</label>
                <div class="col-md-10"><input type="text" class="form-control" ng-model="vm.params.money" numberic  ng-required="vm.params.prize==-2||vm.params.prize==-1" ng-disabled="vm.params.prize!=''&&vm.params.prize!=-2&&vm.params.prize!=-1"></div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" required>个数</label>
                <div class="col-md-10"><input type="text" class="form-control" numberic ng-model="vm.params.prizeCounts" required></div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label"></label>
                <div class="col-md-9">
                    <div class="col-md-4">
                        <button class="btn btn-sm btn-success" ng-click="newOrPut(luckdraw.$invalid)">确定</button>
                        <button class="btn btn-sm btn-danger" ui-sref="field.luckDrawSet">取消</button>
                    </div>
                    <div class="col-md-4">
                        <label class="control-label text-red" ng-if="vm.error">请补全信息</label>
                    </div>
                </div>

            </div>
        </form>
    </div>
</div>