@charset "UTF-8";
html {font-size: 62.5%;}
*{margin: 0; padding: 0;}
body {
    font-family: SimHei;
    min-width: 320px;
    font-size: 3rem;
}
img {max-width: 100%;}
@media screen and (max-width: 480px) {
    html {
        font-size: 40%;
    }
}