@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
}
html { font-size: 62.5%; }
body {
    font-family: "Microsoft YaHei", sans-serif;
    background: #fafafa;
}
.clear { clear: both; }
header {
    position: relative;
    color: #29b078;
    background: #fff;
}
header span {
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
}
.soct-icon {
    float: right;
    display: inline-block;
    margin: 5px 10% 5px -9%;
}.navbar-1 {
     margin-bottom: 0;
     border-radius: 0;
     background: #29b078;
 }
.navbar-img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.icon-bar-1 {
    background: #fff;
}
.navbar-nav > li > a {
    display: block;
    width: 4.86vw;
    padding: 40% 0;
    text-align: center;
    text-decoration: none;
    color: #fff;
}
.nav-1 {
    list-style: none;
    margin-bottom: 0;
    background: #29b078;
}
.custom {
    padding: 1px 0;
}
.custom:hover {
    border-bottom: 2px solid #fff;
    padding: 0;
}
.list-head {
    padding: 2% 15px;
    border-bottom: 1px solid #e7e7e7;
}
.list-word-color {
    color: #29b078;
}
.list-nav {
    padding: 1% 15px;
    border-bottom: 1px solid #e7e7e7;
}
.list-nav-word-color {
    color: #9a9a9a;
}
.list-nav span {
    margin: 0 1%;
}
.list-nav a {
    text-decoration: none;
    color: #000;
}
.list-nav a:hover {
    color: #fff;
    background-color: #29b078;
}
.frontend {
    margin-bottom: 3%;
    padding: 2% 15px;
    border-bottom: 1px solid #e7e7e7;
    font-size: 1.6rem;
    font-weight: 700;
}
.job-int {
    width: 30%;
    margin: 0 1.66%;
    padding: 0;
    border: 1px solid #ededed;
    box-shadow: 1px 1px 1px #e7e7e7;
    background: #fff;
}
.col-sm-8 {
    padding: 0;
}
.job-int-1 {
    padding: 3%;
}
.job-int-head {
    margin: 2.5% 0;
    padding: 0 5px;
    font-weight: 700;
}
.job-int-head-1 {
    padding: 0 5px;
}
.table {
    width: 100%;
    margin-bottom: 0;
}
.table-word {
    margin-right: 5%;
    color: #999;
}
.table-word-1 {
    vertical-align: middle;
}
.table-word-2 {
    color: #999;
    text-align: center;
}
.table-word-color {
    color: #ff5c00;
    font-weight: 700;
}
.table > tbody > tr > td {
    vertical-align: middle;
}
td {
    width: 10%;
}
.table-word-data {
    float: left;
}
.table-word-pay {
    float: right;
}
.table-word-bold {
    font-weight: 700;
}
.table-word-tip {
    color: #999;
}
.work {
    display: none;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    background-color: rgba(31,31,31,0.8);
}
.work-1 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 8%;
    font-size: 1.6rem;
    color: #fff;
}
.work-head {
    text-align: center;
}
.job-int:hover .work {
    display: block;
}
footer {
    margin-top: 10%;
    padding: 2% 0 2%;
    background: #29b078;
}
.footer {
    position: relative;
}
footer span {
    font-size: 1.6rem;
    color: #fff;
}
.alone {
    font-size: 1.4rem;
}
.alone-1 {
    margin-right: 12%;
}
.footer a {
    text-decoration: none;
    color: #fff;
}
.alone:hover {
    border-bottom: 1px solid #fff;
}
.slogan {
    margin-bottom: 21.5%;
}
.website {
    margin-left: 5%;
}
.website-1 {
    margin-bottom: 8%;
}
.website-2 {
    margin-bottom: 6.5%;
}
.qrcode {
    position: absolute;
    right: 0;
    top: 0;
}
.qrcode-1 {
    text-align: right;
}
.qrcode-img {
    display: block;
    margin: 0 2px 0 auto;
}
.copright {
    padding: 0.6% 0;
    border-top: 1px solid #32c086;
    text-align: center;
    color: #fff;
    background: #29b078;
}
