

<div class="panel panel-default ">
        <div class="panel-heading">
            <strong>{{vm.title}}</strong>
        </div>

        <div class="panel-body">

            <div class="table-responsive border">
                <table class="table">
                    <thead>
                    <tr class="">
                        <th>彩种</th>
                        <th>玩法</th>
                        <th>成功注数</th>
                        <th>投注金额</th>
                        <th>失败注数</th>
                        <th>失败金额</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr ng-repeat="data in vm.list track by $index">
                        <td>{{data.lottery}}</td>
                        <td>{{data.subtypeName}}</td>
                        <td>{{data.successCount}}</td>
                        <td>{{data.buySum}}</td>
                        <td>{{data.failureCount}}</td>
                        <td>{{data.failureSum}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>


            <pagination ng-if="vm.total" total={{vm.total}}"></pagination>

        </div>
    </div>

