<!--搜索框-->
<div class="panel panel-default">
    <div class="panel-body">
        <form class="form-horizontal">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-4">奖品</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" ng-model="vm.searchParams.prizeName">
                            </div>
                        </div>
                    </div>




                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label col-md-4">创建者</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" ng-model="vm.searchParams.createByName">

                        </div>
                    </div>
                </div>
                    <!--状态-->
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-4">状态</label>
                            <div class="col-md-8">
                                <select class="form-control" ng-model="vm.searchParams.status">
                                    <option value="" selected>全部&emsp;&emsp;&emsp;&emsp;</option>
                                    <option value="1" ng-selected="vm.searchParams.status==1">草稿&emsp;&emsp;&emsp;&emsp;</option>
                                    <option value="2" ng-selected="vm.searchParams.status==2">已上线&emsp;&emsp;&emsp;&emsp;</option>
                                </select>
                            </div>
                        </div>
                    </div>

                </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label col-md-4">创建时间</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" size="20" bs-datepicker
                                   data-date-format="yyyy-MM-dd" data-date-type="number" autoclose="true" data-min-date="{{vm.searchParams.endAt}}" data-max-date="{{nowDate}}"
                                   ng-model="vm.searchParams.creatAtStart"/>
                        </div>

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">

                    <label class="control-label col-md-4">至</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" size="20" bs-datepicker
                               data-date-format="yyyy-MM-dd" data-date-type="number" autoclose="true" data-max-date="{{nowDate}}"
                               ng-model="vm.searchParams.creatAtEnd" data-min-date="{{vm.searchParams.creatAtStart}}"/>
                    </div>
                        </div>

                </div>
                <div class="col-md-4 text-right">
                    <search params="vm.searchParams"></search>

                </div>
            </div>




        </form>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <strong>奖品列表（单个奖品个数/所有奖品总数=取样概率)</strong>
        <button class="btn btn-xs btn-default pull-right" ui-sref="field.luckDrawDetail">+新增</button>
    </div>
    <div class="panel-body">
        <div class="table-responsive border">
        <table class="table">
                <thead>
                    <tr class="grey">
                        <th>序号</th>
                        <th>奖品</th>
                        <th>金额</th>
                        <th>剩余个数</th>
                        <th>个数上限</th>
                        <th>中奖概率</th>
                        <th>创建者</th>
                        <th>创建时间</th>
                        <th>状态</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                <tr ng-repeat="li in vm.list">
                    <td>{{$index+1}}</td>
                    <td>{{li.prizeName}}</td>
                    <td>{{li.money}}</td>
                    <td>{{li.prizeLeftNo}}</td>
                    <td>{{li.prizeCounts}}</td>
                    <td>{{li.winningPro}}</td>
                    <td>{{li.createByName}}</td>
                    <td>{{li.createAt|date:'yyyy-MM-dd HH:mm'}}</td>
                    <td>{{li.status==2?'已上线':'草稿'}}</td>
                    <td>
                        <button ng-if="li.lowestFlag==1" class="btn btn-success btn-xs" ng-click="setLowerLcuk($index,li.id)">取消最低奖</button>
                        <button ng-if="li.lowestFlag==0" class="btn btn-default btn-xs" ng-click="setLowerLcuk($index,li.id)">设最低奖</button>
                        <button class="btn btn-default btn-xs" ui-sref="field.luckDrawDetail({id:li.id})">编辑</button>
                        <button class="btn btn-danger btn-xs" ng-click="deleteLuck(li.id,$index)">删除</button>
                    </td>
                </tr>
                </tbody>
            </table>
        <pagination ng-if="vm.total" total="{{vm.total}}"></pagination>

        </div>
</div>
    </div>
</div>