<div class="panel panel-default">
    <div class="panel-heading">
        <strong ng-if="!vm.id">红包新增</strong>
        <strong ng-if="vm.id">红包编辑</strong>

    </div>
    <div class="panel-body">
        <form class="form-horizontal" name="red" role="form">

            <div class="form-group">
                <label class="control-label col-md-3">名字</label>
                <div class="col-md-8">
                    <input type="text" class="form-control" name="name" ng-model="vm.params.name" required>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-3">发布状态</label>
                <div class="col-md-8">
                    <select class="form-control" name="status" ng-model="vm.params.status" required>
                        <option ng-value="1" ng-selected="vm.params.status==1" ng-selected="vm.params.status==1">草稿&emsp;&emsp;&emsp;&emsp;</option>
                        <option ng-value="2" ng-selected="vm.params.status==2" selected ng-selected="vm.params.status==2">上线&emsp;&emsp;&emsp;&emsp;</option>

                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-3">满减金额（元）</label>
                <div class="col-md-8">
                    <input type="text" class="form-control" name="total" numberic ng-model="vm.params.total" required>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-3">优惠金额（元）</label>
                <div class="col-md-8">
                    <input type="text" class="form-control" name="submoney" numberic  ng-model="vm.params.submoney" required>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-3">有效期</label>
                <div class="col-md-3">
                    <input type="text" class="form-control" size="20" bs-datepicker
                           data-date-format="yyyy-MM-dd" data-date-type="number"  name="startAt"
                           ng-model="vm.params.startAt" data-max-date="{{vm.params.endAt}}" autoclose="true" required/>
                </div>
                <div class="col-md-3">
                    <input type="text" class="form-control" size="20" bs-datepicker
                           data-date-format="yyyy-MM-dd" data-date-type="number"  name="endAt"
                           ng-model="vm.params.endAt" data-min-date="{{vm.params.startAt}}" autoclose="true"  required/>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-3">适用范围</label>
                <div class="col-md-9">
                    <form action="">
                    <div class="col-md-12">
                        <input type="radio" name="lotterytype" ng-model="vm.lotteryListFirst" ng-checked="vm.params.type==-1" ng-click="vm.params.type=-1">
                        <label id="gao">通用</label>

                    </div>
                        <div class="col-md-3" style="padding-top:20px;" ng-repeat="lottery in vm.lotteryList">
                            <input id="lotterytype{{$index}}" type="radio" name="lotterytype" ng-value="lottery.typeCode"  ng-checked="vm.params.type==lottery.typeCode"  ng-model="vm.params.type">
                            <label for="lotterytype{{$index}}">{{lottery.name}}</label>
                        </div>
                    </form>


                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3"></label>
                <div class="col-md-9">
                    <div class="col-md-4">
                        <button class="btn btn-success" ng-click="newOrPut(red.$valid)">确定</button>
                        <button class="btn btn-danger margin-left-20" ui-sref="field.redSet">取消</button>
                    </div>
                    <div class="col-md-4">
                        <label class="control-label text-red" ng-if="vm.error">请补全信息</label>
                    </div>

                </div>
            </div>

        </form>
    </div>

</div>