<div class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a type="button" class="close" style="font-size: 15px;padding-top: 8px" ng-click="$hide()"><span aria-hidden="true">关闭</span></a>
                <h4 style="font-weight: normal" class="modal-title">操作提示</h4>
            </div>
            <div class="modal-body">
                <p style="font-size: 16px;color: #999">{{title}}</p>
                <p style="font-size: 20px" class="text-center">{{content}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-if="failBtn" ng-click="cancel()">{{failBtn}}</button>
                <button type="button" class="btn btn-primary" ng-if="okBtn" ng-click="ok()">{{okBtn}}</button>
            </div>
        </div>
    </div>
</div>