
<div class="panel panel-default ">
        <div class="panel-heading">
            <strong>国信彩日彩种统计</strong>
        </div>

        <div class="panel-body">

            <div class="table-responsive border">
                <table class="table">
                    <thead>
                    <tr class="">
                        <th>彩种</th>
                        <th>成功注数</th>
                        <th>投注金额</th>
                        <th>失败注数</th>
                        <th>失败金额</th>
                        <th>中奖注数</th>
                        <th>中奖金额</th>
                        <th>返奖金额</th>
                        <th>操作</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr ng-repeat="data in vm.list track by $index">
                        <td>{{data.lottery}}</td>
                        <td>{{data.successCount}}</td>
                        <td>{{data.buySum}}</td>
                        <td>{{data.failureCount}}</td>
                        <td>{{data.failureSum}}</td>
                        <td>{{data.prizeCount}}</td>
                        <td>{{data.prizeSum}}</td>
                        <td>{{data.returnSum}}</td>
                        <td>
                            <button class="btn btn-success btn-xs"
                                    ui-sref="field.drawerCountDetails({createAt:data.createAt,
                                    lotteryType:data.lotteryType,title:'国信彩'+data.lottery+'每日玩法统计'})">查看详情
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <pagination ng-if="vm.total" total={{vm.total}}"></pagination>
        </div>
    </div>


